<div class="container mt-5">
    <div class="row animated fadeIn faster">
        <div class="col-md-12">
            <h1>Héroe<small> Nombre</small></h1>
            <hr>
            <form (ngSubmit)="guardar(f)" #f="ngForm">
                <div class="form-group">
                    <label>Firebase ID</label>
                    <input type="text" class="form-control" placeholder="Firebase ID" disabled [(ngModel)]="heroe.id" name="id">
                    <small class="form-text text-muted">Campo auto generado</small>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" required [(ngModel)]="heroe.nombre" name="nombre" #nombre="ngModel" [class.is-invalid]="(nombre.invalid && nombre.touched) || (nombre.invalid && f.submitted)">
                    <span class="text-danger" *ngIf="(nombre.invalid && nombre.touched) || (nombre.invalid && f.submitted)">El campo ha de tener 5 caractéres como mínimo</span>
                </div>
                <div class="form-group">
                    <label>Poder</label>
                    <input type="text" class="form-control" placeholder="Poder" [(ngModel)]="heroe.poder" name="poder">
                </div>
                <div class="form-group">
                    <label>Estado</label>
                    <br>
                    <button class="btn w-50" type="button" (click)="heroe.vivo=true" [class.btn-outline-success]="!heroe.vivo" [class.btn-success]="heroe.vivo">
                        <i class="fa fa-smile-wink"></i> Vivo
                    </button>
                    <button class="btn w-50" type="button" (click)="heroe.vivo=false" [class.btn-outline-danger]="heroe.vivo" [class.btn-danger]="!heroe.vivo">
                        <i class="fa fa-dizzy"></i> Muerto
                    </button>
                    <input type="hidden" value="heroe.vivo" name="vivo" [(ngModel)]="heroe.vivo">
                </div>
                <hr>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-dark float-right" routerLink="heroes">
                        <i class="fa fa-arrow-left"></i> Volver
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>