<h1>Héroes</h1>
<div class="mb-3 mt-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Poder</th>
                <th scope="col">Vivo</th>
                <th scope="col">Herramientas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Capitan America</td>
                <td>Fuerza</td>
                <td>Si</td>
                <td>Escudo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Lobezno</td>
                <td>Inmortalidad</td>
                <td>No</td>
                <td>Garras</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-primary btn-block" routerLink="/heroe/nuevo">
            <i class="fa fa-plus"></i> Agregar
        </button>
    </div>
</div>
<div class="alert alert-warning text-center mt-5">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation fa-2x"></i></p>
</div>
<div class="alert alert-info text-center mt-5">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync-alt fa-spin fa-2x"></i></p>
    <p class="mb-0">Espere por favor</p>
</div>